td, tr, th, table {
    border: black solid 3px;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}

* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=131457), pointer !important;
}

body {
    background-color: palegoldenrod;
}

td {
    width: 30%;
}