table {
    width: 50%;
}

body {
    background-color: darkolivegreen;
}

* {
    cursor: url(http://cur.cursors-4u.net/holidays/hol-5/hol445.ani), url(http://cur.cursors-4u.net/holidays/hol-5/hol445.gif), auto !important;
}