body {
    /* background-color: red; */
    background-image: url('assets/pics/tacky.jpg');
    background-size: auto 100%;
    background-position-y: center;
    color: lightgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
    width: 20%;
}

* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104340), pointer !important;
}