h4 {
    color: blueviolet;
    background-color: cadetblue;
}

body {
    background-color: paleturquoise;
}

h1, h3 {
    color: darkslateblue;
}

* {
    cursor: url(assets/pics/ignis.jpg), pointer !important
}