body {
    background-image: url('assets/pics/snowfall.gif');
    background-size: auto 100%;
    background-position-y: center;
    background-repeat: no-repeat;
}

a {
    display: block;
    text-decoration-line: blink;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a img {
    line-height: 4px;
}

a:hover {
    background-color: darkred;
}

.accent {
    display: block;
    margin: 0 auto 0 auto;
}

.navlink {
    margin: 0;
}

* {
    font-size: larger;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=104340), pointer !important;
}